In [1]:
import pandas as pd
from sklearn.metrics import roc_auc_score

Lendo o arquivo de probabilidades de inadimplência, que foi exportado após termos utilizado o modelo

In [2]:
# mude aqui pro nome do arquivo que vc gerou!!
entrega = pd.read_csv("probabilidades_entrega.csv")

entrega

       SK_ID_CURR     proba
0          149741  0.646420
1          363290  0.165856
2          436006  0.333876
3          377703  0.206049
4          188624  0.650230
...           ...       ...
61498      102817  0.250371
61499      343961  0.370276
61500      427828  0.176911
61501      405956  0.319885
61502      425814  0.248679

[61503 rows x 2 columns]

Lendo a base da entrega, só que agora com os targets reais!

In [3]:
df_entrega_com_target = pd.read_csv("id_targets_reais.csv")

df_entrega_com_target

       SK_ID_CURR  TARGET
0          149741       1
1          363290       0
2          436006       0
3          377703       0
4          188624       0
...           ...     ...
61498      102817       0
61499      343961       0
61500      427828       0
61501      405956       0
61502      425814       1

[61503 rows x 2 columns]

Agora, cruzando as duas bases:

In [4]:
df_test_final = entrega.merge(df_entrega_com_target, on="SK_ID_CURR", how="inner")

In [5]:
df_test_final

       SK_ID_CURR     proba  TARGET
0          149741  0.646420       1
1          363290  0.165856       0
2          436006  0.333876       0
3          377703  0.206049       0
4          188624  0.650230       0
...           ...       ...     ...
61498      102817  0.250371       0
61499      343961  0.370276       0
61500      427828  0.176911       0
61501      405956  0.319885       0
61502      425814  0.248679       1

[61503 rows x 3 columns]

In [6]:
auc = roc_auc_score(df_test_final["TARGET"], df_test_final["proba"])

print(f"{auc:.3f}")

0.754