## Exercícios Titanic

Nesse exercício, o intuito é que vocês usem a base fornecida e respondam as questões abaixo. Lembrem-se: Devemos usar o pandas para isso! Caso tenha algo diferente do que vimos, busquem na documentação!

In [1]:
import pandas as pd

## 1. Leia a base titanic.csv

In [2]:
df = pd.read_csv('./titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 2. Quantos homens e quantos mulheres estavam no navio?

In [5]:
df[df['Sex'] == 'female'].shape[0]

314

In [6]:
df[df['Sex'] == 'male'].shape[0]

577

## 3. Qual era a média de idade dos passageiros?

In [7]:
df['Age'].mean()

29.69911764705882

## 4. Quantos passageiros sobreviveram?

In [8]:
df['Survived'].sum()

342

In [9]:
df[df['Survived'] == 1].shape[0]

342

## 5. Traga as informações do passageiro de nome "Montvila, Rev. Juozas"

In [13]:
df.loc[df['Name'] == "Montvila, Rev. Juozas"]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0,NaN,S

## 6. (Pergunta aberta) Sobreviveram mais crianças, homens adultos ou mulheres adultas?

In [19]:
criancas = df['Age'] <= 18
homens_adultos = (df['Sex'] == 'male') & (df['Age'] > 18)
mulheres_adultas = (df['Sex'] == 'female') & (df['Age'] > 18)

In [20]:
df[criancas]['Survived'].sum()

70

In [21]:
df[homens_adultos]['Survived'].sum()

69

In [22]:
df[mulheres_adultas]['Survived'].sum()

151

Mas 70 de que? Temos que olhar o percentual!

In [20]:
df[criancas]['Survived'].sum() / df[criancas]['Survived'].shape[0]

0.5398230088495575

In [21]:
df[mulheres_adultas]['Survived'].sum() / df[mulheres_adultas]['Survived'].shape[0]

0.7718446601941747

In [22]:
df[homens_adultos]['Survived'].sum() / df[homens_adultos]['Survived'].shape[0]

0.17721518987341772