# Aula 5 - tuplas e dicionários

Na aula de hoje, vamos explorar os seguintes tópicos em Python:

- 1) Tuplas
- 2) Dicionários

_______

____
____
____

## 1) Tuplas

Até o momento, temos utilizado **listas** pra armazenar uma coleção de dados.

Aprenderemos agora sobre uma nova **estrutura de dados**: tuplas!

Tuplas são estruturas bastante parecidas com listas:

- Podem guardar **tipos diferentes de dados**.
- São indexadas (podemos **acessar elementos por índices**).
- São iteráveis (**podemos percorrer com o `for`**).

A principal diferença é: tuplas são **imutáveis**!

Para tuplas **não é possível**: alterar elementos individuais, adicionar elementos, remover elementos ou alterar a ordem dos elementos. Uma vez criada, não é possível alterar nada de uma tupla!

Mas, então, pra que servem as tuplas?

- É um jeito de **sinalizar que esses dados não deveriam ser alterados**. 

- É um meio de garantir que os elementos estarão **em uma ordem específica**.

- O acesso a elementos de uma tupla **é bem mais rápido**.

Tuplas são indicadas entre **parênteses ()**

In [2]:
tupla = (1, 2, 3, 4, 5)

tupla

(1, 2, 3, 4, 5)

No entanto, é possível definir tuplas sem a utilização de parênteses, apenas **listando os elementos, separados por vírgula**

In [5]:
tupla = 10, 2, 3, 42, 5

tupla

(10, 2, 3, 42, 5)

In [6]:
tupla_todos_tipos = 10, 2.45, "3", 42, [2, 4], True

tupla_todos_tipos

(10, 2.45, '3', 42, [2, 4], True)

Operações com tuplas

In [7]:
tupla

(10, 2, 3, 42, 5)

In [12]:
tupla[0]

10

In [13]:
tupla[-1]

5

In [14]:
tupla[1:4]

(2, 3, 42)

In [8]:
for elemento in tupla:
    
    print(elemento)

10
2
3
42
5

In [10]:
for i in range(len(tupla)):
    
    print(i, tupla[i])

0 10
1 2
2 3
3 42
4 5

Mas, como dissemos, a tupla é **imutável!** Assim, se tentarmos mudar algum dos seus elementos, teremos um erro:

In [15]:
tupla[0] = 42

TypeError: 'tuple' object does not support item assignment

Para "alterar uma tupla", podemos fazer um procedimento bem forçado: primeiro, transformamos a tupla em lista; aí, alteramos a lista; depois, transformamos a lista de volta em tupla:

In [17]:
tupla

(10, 2, 3, 42, 5)

In [18]:
list_tupla = list(tupla)

In [19]:
list_tupla

[10, 2, 3, 42, 5]

In [20]:
list_tupla[0] = 42

list_tupla

[42, 2, 3, 42, 5]

In [23]:
tuple(list_tupla)

(42, 2, 3, 42, 5)

No entanto, note que a tupla original permaneceu inalterada:

In [22]:
tupla

(10, 2, 3, 42, 5)

In [24]:
tupla

(10, 2, 3, 42, 5)

In [25]:
tupla = (10, 20, 30)

In [26]:
tupla

(10, 20, 30)

Outra utilidade de tuplas: fazer uma função **retornar mais de um valor**

In [38]:
def ops_fundamentais(x1, x2):
    
    return x1+x2, x1-x2, x1*x2, x1/x2

In [44]:
ops_fundamentais(2, 3)

(5, -1, 6, 0.6666666666666666)

In [34]:
soma, subt, mult, div = ops_fundamentais(2, 3)

In [41]:
soma

5

In [36]:
subt

-1

____
____
____

## 2) Dicionários

Uma outra estrutura de dados bem importante em Python são os **dicionários**.

O dicionário também é uma **coleção de dados**. 

A diferença é que um dicionário é definido a partir de **dois elementos**: uma **chave** e um **valor**.

- A **chave** é uma string ou int que é utilizada como se fosse um índice, identificando os respectivos valores.

- O **valor** pode ser qualquer dado: um int, um float, uma str, um bool, uma lista, uma tupla, outro dicionário...

Dicionários são indicados **entre chaves{}**, segundo a estrutura:

```python
dicionario = {"chave": valor}
```

In [49]:
lista = ["João", 15, "Mauá"]

lista

['João', 15, 'Mauá']

In [51]:
lista[0]

'João'

In [50]:
dicionario = {"nome": "João",
              "idade" : 15,
              "cidade": "Mauá"}

dicionario

{'nome': 'João', 'idade': 15, 'cidade': 'Mauá'}

In [52]:
dicionario["nome"]

'João'

Poderíamos, ao invés de um dicionário, usar uma lista de listas, como abaixo. 

Porém, neste caso, fica bem menos intuitivo quando queremos selecionar os elementos que representam nomes ou cidades, porque somos obrigado a usar números para indexar, ao invés das chaves.

In [86]:
cadastro = {"nomes": ["João", "Maria", "Bob"],
             "idades" : [15, 14, 20],
             "cidades": ["Mauá", "Santo André", "SCS"]}

In [56]:
cadastro["nomes"]

['João', 'Maria', 'Bob']

In [57]:
cadastro_lista = [["João", "Maria", "Bob"],
                  [15, 14, 20],
                  ["Mauá", "Santo André", "SCS"]]

In [58]:
cadastro_lista[0]

['João', 'Maria', 'Bob']

Para adicionar elementos ao dicionário, não precisamos de uma função pronta (como o append das listas). 

Basta definir a nova chave como uma variável, e atribuir um novo valor a ela:

In [87]:
cadastro

{'nomes': ['João', 'Maria', 'Bob'],
 'idades': [15, 14, 20],
 'cidades': ['Mauá', 'Santo André', 'SCS']}

In [88]:
cadastro["num_pets"] = [0, 2, 1]

In [89]:
cadastro.update({"a": 42})

Automaticamente, o elemento criado é adicionado ao fim!

In [91]:
cadastro

{'nomes': ['João', 'Maria', 'Bob'],
 'idades': [15, 14, 20],
 'cidades': ['Mauá', 'Santo André', 'SCS'],
 'num_pets': [0, 2, 1],
 'a': 42}

__Para apagar uma chave, utilize o "pop"__

In [93]:
cadastro.pop("num_pets")

cadastro

{'nomes': ['João', 'Maria', 'Bob'],
 'idades': [15, 14, 20],
 'cidades': ['Mauá', 'Santo André', 'SCS'],
 'a': 42}

__Ou, utilize o "del"__

In [94]:
del cadastro["a"]

cadastro

{'nomes': ['João', 'Maria', 'Bob'],
 'idades': [15, 14, 20],
 'cidades': ['Mauá', 'Santo André', 'SCS']}

Alterar os valores também é possível:

In [95]:
cadastro["cidades"] = ["Paris", "São Paulo", "Mauá"]

In [96]:
cadastro

{'nomes': ['João', 'Maria', 'Bob'],
 'idades': [15, 14, 20],
 'cidades': ['Paris', 'São Paulo', 'Mauá']}

Posso também alterar elementos individuais dos valores, os indexando

(Lembre-se que, neste caso, os valores são listas! Então, devo indexá-las para alterar seus elementos!)

In [99]:
cadastro["cidades"][2] = "Berlin"

In [100]:
cadastro

{'nomes': ['João', 'Maria', 'Bob'],
 'idades': [15, 14, 20],
 'cidades': ['Paris', 'São Paulo', 'Berlin']}

Alternativamente, pegando o indice pelo nome:

In [103]:
nome = "Bob"

idx_nome = cadastro["nomes"].index(nome)

cadastro["cidades"][idx_nome]

'Berlin'

Para adicionar novos elementos aos valores (que são listas), usamos o append:

In [106]:
cadastro

{'nomes': ['João', 'Maria', 'Bob'],
 'idades': [15, 14, 20],
 'cidades': ['Paris', 'São Paulo', 'Berlin']}

In [107]:
cadastro["nomes"].append("Alice")
cadastro["idades"].append(42)
cadastro["cidades"].append("Viena")

In [108]:
cadastro

{'nomes': ['João', 'Maria', 'Bob', 'Alice'],
 'idades': [15, 14, 20, 42],
 'cidades': ['Paris', 'São Paulo', 'Berlin', 'Viena']}

Dicionários podem ser percorridos com um for. 

Ao fazer isso, **as chaves serão percorridas** 

Porém, a partir da chave obtém-se o valor:

In [111]:
for k in cadastro:
    
    print(k)

nomes
idades
cidades

In [115]:
for k in cadastro:
    
    print(cadastro[k])

['João', 'Maria', 'Bob', 'Alice']
[15, 14, 20, 42]
['Paris', 'São Paulo', 'Berlin', 'Viena']

Mas também é possível acessar apenas os valores do dicionário com o método `values()`

In [129]:
for value in cadastro.values():
    
    print(value)

['João', 'Maria', 'Bob', 'Alice']
[15, 14, 20, 42]
['Paris', 'São Paulo', 'Berlin', 'Viena']

Uma utilidade disso é para pegar os dados respectivos de cada elemento do cadastro:

In [137]:
nome="Alice"
idx_nome=cadastro["nomes"].index(nome)

dados_nome = []

for v in cadastro.values():
    
    dados_nome.append(v[idx_nome])
    
dados_nome

['Alice', 42, 'Viena']

Usando compreensão de listas, fica ainda mais simples:

In [139]:
nome="Alice"
idx_nome=cadastro["nomes"].index(nome)

dados_nome = [v[idx_nome] for v in cadastro.values()]

dados_nome

['Alice', 42, 'Viena']

É possível obter chaves e valores separadamente.

Para isso, usamos os métodos `keys()` e `values()`.

In [140]:
cadastro.keys()

dict_keys(['nomes', 'idades', 'cidades'])

In [141]:
cadastro.values()

dict_values([['João', 'Maria', 'Bob', 'Alice'], [15, 14, 20, 42], ['Paris', 'São Paulo', 'Berlin', 'Viena']])

E esses valores podem ser transformados em listas com a função `list()`

In [142]:
list(cadastro.keys())

['nomes', 'idades', 'cidades']

In [143]:
list(cadastro.values())

[['João', 'Maria', 'Bob', 'Alice'],
 [15, 14, 20, 42],
 ['Paris', 'São Paulo', 'Berlin', 'Viena']]

Deixando todos os valores em uma unica lista, a partir da lista de listas.

Esta lista terá todos os valores dentro do dicionario

In [144]:
[value for value in cadastro.values()]

[['João', 'Maria', 'Bob', 'Alice'],
 [15, 14, 20, 42],
 ['Paris', 'São Paulo', 'Berlin', 'Viena']]

Por fim, também é possível percorrer simultaneamente as chaves e valores, utilizando o `items()`:

In [119]:
cadastro.items()

dict_items([('nomes', ['João', 'Maria', 'Bob', 'Alice']), ('idades', [15, 14, 20, 42]), ('cidades', ['Paris', 'São Paulo', 'Berlin', 'Viena'])])

In [120]:
for k, v in cadastro.items():
    
    print(k, v)

nomes ['João', 'Maria', 'Bob', 'Alice']
idades [15, 14, 20, 42]
cidades ['Paris', 'São Paulo', 'Berlin', 'Viena']

In [123]:
list(enumerate(cadastro))

[(0, 'nomes'), (1, 'idades'), (2, 'cidades')]

In [127]:
for idx, k in enumerate(cadastro):
    
    print(idx, k, cadastro[k])
    
    for item in cadastro[k]:
        
        print(item)

0 nomes ['João', 'Maria', 'Bob', 'Alice']
João
Maria
Bob
Alice
1 idades [15, 14, 20, 42]
15
14
20
42
2 cidades ['Paris', 'São Paulo', 'Berlin', 'Viena']
Paris
São Paulo
Berlin
Viena

Pra remover os dados de uma dada pessoa do cadastro:

In [147]:
cadastro

{'nomes': ['João', 'Maria', 'Bob', 'Alice'],
 'idades': [15, 14, 20, 42],
 'cidades': ['Paris', 'São Paulo', 'Berlin', 'Viena']}

In [148]:
nome="Bob"
idx_nome=cadastro["nomes"].index(nome)

cadastro["nomes"].pop(idx_nome)
cadastro["idades"].pop(idx_nome)
cadastro["cidades"].pop(idx_nome)

'Berlin'

In [149]:
cadastro

{'nomes': ['João', 'Maria', 'Alice'],
 'idades': [15, 14, 42],
 'cidades': ['Paris', 'São Paulo', 'Viena']}

____
____
____
___