# Aula 1 - Arquivos em Python

Na aula de hoje, vamos explorar os seguintes tópicos em Python:

- 1) Arquivos em Python
- 2) Arquivos csv

_______

______
________
______

## 1) Arquivos em Python

Todos os programas que fizemos até o momento tinham variáveis, input e output **temporários**, guardados na memória RAM do computador **enquanto o programa é executado**.

Após o programa ser finalizado, todas as variáveis, inputs e outputs eram perdidos.

Muitas vezes queremos que esses valores sejam armazenados, que os dados processados pelo programa sejam preservados. O termo para esta característica é **persistência de dados**.

A persistência se dá através de **arquivos**: documentos criados para **armazenar dados em uma memória permanente**, como o **disco rígido**, um **USB** ou um **servidor web**.

O Python têm algumas funções padrão para a manipulação de arquivos. Vamos vê-las!

A função `open()` é usada pra abrir arquivos existentes ou criar um arquivo novo. 

Ela possui 2 argumentos: o primeiro é o caminho do arquivo, com seu nome (se apenas o nome do arquivo for passado, isso é interpretado como o arquivo estando na mesma pasta que o código!); e o segundo é o modo de operação. Os modos são:

- r -	lê um arquivo existente
- w -	cria um novo arquivo
- a -	abre um arquivo existente para adicionar informações ao seu final
- \+ -	ao ser combinado com outros modos, permite alteração de arquivo já existente (ex: r+ abre um arquivo existente e permite modificá-lo)

O terceiro argumento é o "encoding", que dá a codificação do arquivo. Pra evitar problemas, é legal sempre usar `encoding="utf-8"`

<img src="./modos_abertura.png" width=700>

(Valeu, Arthur!)

In [13]:
caminho_absoluto1 = "H:/Meu Drive/let's code/pi_ds/815/modulo_3/aulas/arquivos/arquivo1.txt"

In [14]:
caminho_absoluto2 = "H:\\Meu Drive\\let's code\\pi_ds\\815\\modulo_3\\aulas\\arquivos\\arquivo2.txt"

In [15]:
caminho_relativo = "./arquivos/arquivo3.txt"

In [16]:
arquivo = open(caminho_relativo, "w", encoding="utf-8")

Se analisarmos a variável "arquivo" (é o return da função `open()`), note que há algumas coisas estranhas... É assim que o python entende seu arquivo, mas não precisa se preocupar muito com isso

In [17]:
arquivo

Uma vez aberto o arquivo, podemos escrever alguma coisa nele. Para isso, usamos o método `write()`

Essa função aceita apenas um argumento, que é o que vc quer escrever no arquivo -- e **deve ser uma string**!

In [18]:
arquivo.write("meu primeiro arquivo uhuuuuu!!!")

31

Após abrirmos (ou criarmos) um arquivo, e fazer as operações desejadas com ele, devemos fechá-lo usando o método `close()`. Essa etapa é importante por 2 motivos:

- Se alteramos o arquivo mas não o fechamos, as alterações não serão salvas.
- Se esquecermos de fechar um arquivo, outros programas podem ter problemas de acesso a ele.

Por isso, **nunca se esqueca de fechar os arquivos abertos!**

In [19]:
arquivo.close()

__Fazendo todas as operações em uma única célula__

In [23]:
arquivo = open(caminho_absoluto2, "w", encoding="utf-8")

arquivo.write("meu primeiro arquivo uhuuuuu!!!")

arquivo.close()

Apesar desta ser uma forma clara e direta, existe um procedimento mais robusto e mais seguro, que é utilizando o ambiente `with`.

O `with` garante que, quando o bloco de código em seu interior for executado, todos os recursos que foram criados (indicados após o `as`) serão liberados!

No nosso caso, o recurso é justamente um arquivo! Com o `with`, nós garantimos que **o arquivo será aberto e fechado**, independente se ocorra qualquer erro antes do arquivo ser fechado! Isso é muito importante, pois garante maior segurança e robustez a nosso código!

In [32]:
caminho_relativo

'./arquivos/arquivo3.txt'

In [26]:
with open(caminho_relativo, "w", encoding="utf-8") as f:

    f.write("meu primeiro arquivo uhuuuuu!!!")

Brincando um pouco com o caminho relativo

In [27]:
# arquivo na mesma pasta que o notebook (usando CAMINHO RELATIVO)

with open("./arquivo_na_mesma_pasta.txt", "w", encoding="utf-8") as f:
    
    f.write("tô na mesma pasta!")

In [28]:
# arquivo na mesma pasta que o notebook (mesma coisa que o anterior, não precisa do ./)

with open("arquivo_também_na_mesma_pasta.txt", "w", encoding="utf-8") as f:
    
    f.write("tô na mesma pasta!")

In [30]:
with open("./../arquivo_uma_pasta_antes.txt", "w", encoding="utf-8") as f:
    
    f.write("tô numa pasta antes!")

In [31]:
with open("../arquivo_também_uma_pasta_antes.txt", "w", encoding="utf-8") as f:
    
    f.write("tô numa pasta antes!")

In [33]:
caminho_relativo

'./arquivos/arquivo3.txt'

In [34]:
# o open NÃO cria pastas!!
with open("./nao_existe/arquivo_em_pasta_que_nao_existe.txt", "w", encoding="utf-8") as f:
    
    f.write("tô numa pasta antes!")

FileNotFoundError: [Errno 2] No such file or directory: './nao_existe/arquivo_também_uma_pasta_antes.txt'

Brincando um pouco com o encoding

In [37]:
with open("./arquivos/arquivo_certo.txt", "w", encoding="utf-8") as f:

    f.write("coração amigão migué essência ó ú")

In [46]:
with open("./arquivos/arquivo_bugado.txt", "w") as f:

    f.write("coração amigão migué essência ó ú")

__________________

Como essa maneira é mais robusta, bamos usá-la daqui pra frente. (Mas, lembre-se que a opção que apresentamos primeiro também é possível!)

In [15]:
# criando um novo arquivo

with open("./arquivos/arquivo.txt", "w", encoding="utf-8") as f:

    f.write("olá, mundo!!")

Vamos escrever mais algumas coisas no nosso arquivo...

Como o arquivo já existe, vamos tentar usar o modo "r"...

In [13]:
with open("./arquivos/arquivo.txt", "r", encoding="utf-8") as f:

    f.write("abacate")

UnsupportedOperation: not writable

Note que encontramos um erro, pois o modo "r" permite **apenas a leitura do arquivo**

Se queremos escrever algo nele, usamos o "r+"

In [16]:
with open("./arquivos/arquivo.txt", "r+", encoding="utf-8") as f:

    f.write("abacate")

Note, no entanto, que se usarmos o modo "r+", o write substitui o conteúdo anterior da primeira linha do arquivo! Isso pq este modo equivale a colocar o cursor **no começo do arquivo** e escrever a partir dali (como se tivese com o `Insert` selecionado).

Prra corrigir isso, usamos o modo "a", que permite escrever AO FIM do arquivo. Isso equivale a colocar o cursor **no último caractere escrito**, e começar a escrever a partir dali!

In [1]:
with open("./arquivos/arquivo.txt", "w", encoding="utf-8") as f:

    f.write("olá, mundo!!")

In [2]:
with open("./arquivos/arquivo.txt", "a", encoding="utf-8") as f:

    f.write("abacate")

Se quisermos escrever em uma nova linha, usamos o "\n":

In [3]:
with open("./arquivos/arquivo.txt", "a", encoding="utf-8") as f:

    f.write("\nabacaxi")

Caso queiramos escrever uma lista pro arquivo:

In [5]:
lista = ["oi, tudo bom?", "estudo na let's code", "bob e alice"]

In [37]:
with open("./arquivos/arquivo.txt", "a", encoding="utf-8") as f:

    f.write(lista)

TypeError: write() argument must be str, not list

O método `write()` pode apenas escrever strings ao arquivo!!

In [6]:
with open("./arquivos/arquivo.txt", "a", encoding="utf-8") as f:

    for elemento in lista:
        
        f.write(f"\n{elemento}")

________

Agora, imagina que queremos apenas **ler** o arquivo, sem intenção de modificá-lo.

Nesse caso, utilizamos o modo "r" do open.

Além disso, se quisermos de fato armazenar os dados do arquivo em uma variável do python, usamos o método `read()`

In [7]:
with open("./arquivos/arquivo.txt", "r", encoding="utf-8") as f:
    
    conteudo = f.read()

In [9]:
conteudo2 = '''olá, mundo!!abacate
abacaxi
oi, tudo bom?
estudo na let's code
bob e alice'''

In [11]:
conteudo2 = "olá, mundo!!abacate\nabacaxi\noi, tudo bom?\nestudo na let's code\nbob e alice"

Da mesma forma que o `write()` só pode escrever strings, o `read()` lê o arquivo como uma string! Veja:

In [15]:
conteudo

"olá, mundo!!abacate\nabacaxi\noi, tudo bom?\nestudo na let's code\nbob e alice"

In [17]:
print(conteudo)

olá, mundo!!abacate
abacaxi
oi, tudo bom?
estudo na let's code
bob e alice

Como o `read()` lê o que estiver no arquivo em forma de uma string, temos que as quebras de linha serão, portanto, armazenadas como "\n".

A partir daí, dá pra pegar cada linha e colocar numa lista:

In [18]:
conteudo_lista = conteudo.split("\n")

In [20]:
conteudo_lista.append("nova linha!!!")

In [21]:
conteudo_lista.append("mais uma nova linha!!!")

In [22]:
conteudo_lista

['olá, mundo!!abacate',
 'abacaxi',
 'oi, tudo bom?',
 "estudo na let's code",
 'bob e alice',
 'nova linha!!!',
 'mais uma nova linha!!!']

In [23]:
conteudo_lista[1] = "limão"

In [24]:
conteudo_lista

['olá, mundo!!abacate',
 'limão',
 'oi, tudo bom?',
 "estudo na let's code",
 'bob e alice',
 'nova linha!!!',
 'mais uma nova linha!!!']

Alterando o arquivo original, depois de ter alterado o conteúdo dele NO PYTHON, ou seja, o que tá na lista `conteudo_lista`

In [29]:
conteudo_lista[0]

'olá, mundo!!abacate'

In [30]:
conteudo_lista[1:]

['limão',
 'oi, tudo bom?',
 "estudo na let's code",
 'bob e alice',
 'nova linha!!!',
 'mais uma nova linha!!!']

Obs.: é importante escrever a primeira linha separadamente, pra não ter o "\n" na primeira linha

In [31]:
with open("./arquivos/arquivo.txt", "w", encoding="utf-8") as f:

    # primeira linha, que é o primeiro elemento da lista - sem \n
    f.write(f"{conteudo_lista[0]}")
    
    # demais linhas, são os demais elementos da lista - com \n
    for elemento in conteudo_lista[1:]:
        
        f.write(f"\n{elemento}")

Vamos para um outro exemplo... Imagine que eu quero armazenar uma lista, para depois lê-la novamente. Como faço isso?

In [32]:
notas = [8, 5, 9, 10, 10, 7]

In [33]:
n_notas = int(input("Quantas notas vc quer? "))

notas = []

for i in range(n_notas):
    
    notas.append(float(input(f"Digite a {i+1}a nota: ")))

Quantas notas vc quer? 4
Digite a 1a nota: 8
Digite a 2a nota: 9
Digite a 3a nota: 7.5
Digite a 4a nota: 10

In [40]:
notas = [float(input(f"Digite a {i+1}a nota: ")) for i in range(int(input("Quantas notas vc quer? ")))]

Quantas notas vc quer? 4
Digite a 1a nota: 8
Digite a 2a nota: 9
Digite a 3a nota: 7.5
Digite a 4a nota: 10

In [41]:
notas

[8.0, 9.0, 7.5, 10.0]

In [63]:
sum(notas)/len(notas)

8.625

Lembre-se que só é possível escrever **strings** com o `write()`!

In [57]:
with open("./arquivos/notas.txt", "w", encoding="utf-8") as f:
    
    f.write(f"{notas[0]}")
    
    for nota in notas[1:]:
        
        f.write(f"\n{nota}")

Agora, pra ler o arquivo, e já calcular a média das notas armazenadas!

In [58]:
with open("./arquivos/notas.txt", "r", encoding="utf-8") as f:
    
    conteudo = f.read()

In [59]:
conteudo

'8.0\n9.0\n7.5\n10.0'

In [61]:
notas_lidas = conteudo.split("\n")

In [62]:
notas_lidas

['8.0', '9.0', '7.5', '10.0']

In [68]:
notas_lidas = [float(x) for x in notas_lidas]

In [69]:
notas_lidas

[8.0, 9.0, 7.5, 10.0]

In [70]:
sum(notas_lidas)/len(notas_lidas)

8.625

__________

Vamos fazer um arquivo de várias linhas, e depois lê-lo:

In [76]:
poema = """Batatinha quando nasce
se esparrama pelo chão
menininha quando dorme
põe a mão no coração""".split("\n")

In [77]:
poema

['Batatinha quando nasce',
 'se esparrama pelo chão',
 'menininha quando dorme',
 'põe a mão no coração']

In [78]:
with open("./arquivos/poema.txt", "w", encoding="utf-8") as f:
    
    f.write(f"{poema[0]}")
    
    for verso in poema[1:]:
        
        f.write(f"\n{verso}")

Lendo o arquivo todo:

In [79]:
with open("./arquivos/poema.txt", "r", encoding="utf-8") as f:
    
    conteudo = f.read()

In [80]:
conteudo

'Batatinha quando nasce\nse esparrama pelo chão\nmenininha quando dorme\npõe a mão no coração'

In [81]:
conteudo.split("\n")

['Batatinha quando nasce',
 'se esparrama pelo chão',
 'menininha quando dorme',
 'põe a mão no coração']

Lendo apenas a primeira linha, com o método `readline()`:

In [89]:
with open("./arquivos/poema.txt", "r", encoding="utf-8") as f:
    
    conteudo = f.readline()

In [90]:
conteudo

'Batatinha quando nasce\n'

Para ler algo que não seja a primeira linha, use o `.readlines()`:

In [101]:
with open("./arquivos/poema.txt", "r", encoding="utf-8") as f:
    
    conteudo = f.readlines()

In [102]:
conteudo

['Batatinha quando nasce\n',
 'se esparrama pelo chão\n',
 'menininha quando dorme\n',
 'põe a mão no coração']

In [97]:
with open("./arquivos/poema.txt", "r", encoding="utf-8") as f:
    
    conteudo = f.readlines()[1]

In [98]:
conteudo

'se esparrama pelo chão\n'

Ler cada uma das linhas, separadamente

Neste caso, não precisa nem de readline!

In [99]:
conteudo = []

with open("./arquivos/poema.txt", "r", encoding="utf-8") as f:
    
    for linha in f:
        
        conteudo.append(linha)

In [100]:
conteudo

['Batatinha quando nasce\n',
 'se esparrama pelo chão\n',
 'menininha quando dorme\n',
 'põe a mão no coração']

In [103]:
with open("./arquivos/poema.txt", "r", encoding="utf-8") as f:
    
    conteudo = [linha for linha in f]

In [104]:
conteudo

['Batatinha quando nasce\n',
 'se esparrama pelo chão\n',
 'menininha quando dorme\n',
 'põe a mão no coração']

Apesar de termos tratado sobre as funções acima, existem **bibliotecas específicas** para a leitura/escrita de determinados tipos de arquivos.

Na prática, é muito mais conveniente usarmos estas bibliotecas, a depender do tipo de arquivo que desejamos ler/escrever!

____
____
___

## 2) Arquivos CSV

Um tipo de arquivo muito comum é o **csv**

A sigla CSV significa **Comma-Separated Values**, ou **"valores separados por vírgula"**. 

Este formato é uma forma padrão de representar tabelas usando arquivos de texto simples: cada elemento é separado por uma vírgula (ou ponto-e-vírgula, ou, qualquer outro separador), e cada linha é separada por uma quebra de linha.

Em Python, podemos entender um arquivo CSV como uma lista de listas. 

Imagine que queremos armazenar um arquivo csv. Começamos com uma lista de listas:

In [108]:
tabela = [['Aluno', 'Nota1', 'Nota2', 'Presença'],
          ["Alice", 10, 8.5, 75],
          ["Bob", 7, 9.5, 80],
          ["Eva", 8, 8, 30]]

In [113]:
tabela

[['Aluno', 'Nota1', 'Nota2', 'Presença'],
 ['Alice', 10, 8.5, 75],
 ['Bob', 7, 9.5, 80],
 ['Eva', 8, 8, 30]]

In [115]:
for linha in tabela:
    
    print(linha)

['Aluno', 'Nota1', 'Nota2', 'Presença']
['Alice', 10, 8.5, 75]
['Bob', 7, 9.5, 80]
['Eva', 8, 8, 30]

In [122]:
lista = ["a", "b", "c"]

print(*lista, sep="\t")

a	b	c

In [132]:
for linha in tabela:
    
    print(*linha, sep="\t")

Aluno	Nota1	Nota2	Presença
Alice	10	8.5	75
Bob	7	9.5	80
Eva	8	8	30

In [127]:
# exercicio: escreve esses dados num arquivo, usando o método que vimos até aqui.

Pode não ser tão simples escrever esta lista de listas em um arquivo usando o método write(), como vimos antes, né?

Para trabalhar com arquivos csv, vamos utilizar a biblioteca `csv` do python!

Desta biblioteca, vamo usar duas funções:

- **método de escrita**: `csv.writer().writerows()`

- **método de leitura**: `csv.reader()`

In [128]:
import csv

In [134]:
tabela

[['Aluno', 'Nota1', 'Nota2', 'Presença'],
 ['Alice', 10, 8.5, 75],
 ['Bob', 7, 9.5, 80],
 ['Eva', 8, 8, 30]]

Primeiramente, criamos o arquivo, como fizemos antes

In [135]:
f = open("./arquivos/notas_alunos.csv", "w", encoding="utf-8")

Depois, utilizamos o método `writer` da biblioteca `csv`, juntamente do método `writerows` para escrever a lista de listas ao arquivo:

In [136]:
csv.writer(f, delimiter=",", lineterminator="\n").writerows(tabela)

A primeira parte, 

```python
csv.writer(arquivo, delimiter=';', lineterminator='\n')
```

Indica:

- em que arquivo você quer escrever
- como que você vai separar os valores (neste caso, com ";")
- como vc vai separar as diferentes linhas do arquivo (neste caso, com "\n")

A segunda parte, indica quais os dados que você quer escrever no arquivo (no caso, a lista de listas "tabela"):

```python
writerows(tabela)
```

Fechando o arquivo

In [137]:
f.close()

Tudo junto:

In [145]:
f = open("./arquivos/notas_alunos.csv", "w", encoding="utf-8")

csv.writer(f, delimiter=",", lineterminator="\n").writerows(tabela)

f.close()

In [139]:
tabela

[['Aluno', 'Nota1', 'Nota2', 'Presença'],
 ['Alice', 10, 8.5, 75],
 ['Bob', 7, 9.5, 80],
 ['Eva', 8, 8, 30]]

E, fazendo do jeito mais robusto, com o `with`:

In [170]:
with open("./arquivos/notas_alunos.csv", "w", encoding="utf-8") as f:
    
    csv.writer(f, delimiter=",", lineterminator="\n").writerows(tabela)

E como lemos este arquivo?

Para isso, temos que utilizar a função `reader()` da biblioteca csv:

```python
csv.reader(f, delimiter=';', lineterminator='\n')
```

Essa função tem como argumentos:

- o arquivo aberto (no caso, a variável "f");
- o separador entre os valores (no caso, ";");
- o separador de linhas (no caso, "\n");

Aí, basta iterar neste objeto com o for para popular a lista de listas "planilha":

É uma boa ideia sempre ler só a primeira linha, pra determinar com certeza o que é o `delimiter` e o `lineterminator`

In [178]:
with open("./arquivos/notas_alunos.csv", "r", encoding="utf-8") as f:
    
    primeira_linha = f.readline()
    
primeira_linha

'Aluno,Nota1,Nota2,Presença\n'

In [175]:
with open("./arquivos/notas_alunos.csv", "r", encoding="utf-8") as f:
    
    tabela_lida = [linha for linha in csv.reader(f, delimiter=",", lineterminator="\n")]

In [172]:
tabela_lida

[['Aluno', 'Nota1', 'Nota2', 'Presença'],
 ['Alice', '10', '8.5', '75'],
 ['Bob', '7', '9.5', '80'],
 ['Eva', '8', '8', '30']]

In [167]:
tabela

[['Aluno', 'Nota1', 'Nota2', 'Presença'],
 ['Alice', 10, 8.5, 75],
 ['Bob', 7, 9.5, 80],
 ['Eva', 8, 8, 30]]

Outra forma de fazer: usando o `f.read()` para ler os dados como uma string, e depois processá-la

In [179]:
with open("./arquivos/notas_alunos.csv", "r", encoding="utf-8") as f:
    
    conteudo = f.read()

In [188]:
conteudo

'Aluno,Nota1,Nota2,Presença\nAlice,10,8.5,75\nBob,7,9.5,80\nEva,8,8,30\n'

In [186]:
tabela_lida2 = [x.split(",") for x in conteudo.split("\n")[:-1]]

tabela_lida2

[['Aluno', 'Nota1', 'Nota2', 'Presença'],
 ['Alice', '10', '8.5', '75'],
 ['Bob', '7', '9.5', '80'],
 ['Eva', '8', '8', '30']]

__Vamos agora processar esse arquivo que acabamos de ler?__

Imagina que queremos calcular qual é a média de determinado aluno, a partir do seu nome!

Pra fazer isso, usamos **list comprehension** pra fazer uma lista com os nomes dos alunos:

In [235]:
lista_nomes = [linha[0] for linha in tabela_lida]

lista_nomes

['Aluno', 'Alice', 'Bob', 'Eva']

Aí, usamos a função index() pra descobrir qual é o índice nesta lista referente a determinado aluno.

Por exemplo, a aluna "Alice", está na posição de índice 1:

In [238]:
idx_aluno = lista_nomes.index("Alice")

idx_aluno

1

Agora, basta passar esse índice para a lista de listas (que chamamos de "tabela_lida"), pra acessarmos a linha correspondente à Alice:

In [239]:
tabela_lida[idx_aluno]

['Alice', '10', '8.5', '75']

Legal! Agora, sabemos que as posições de índice 1 e 2 **desta lista** são, respectivamente, a nota1 e a nota2! 

Ou seja, podemos capturar as notas (já as transformando para float!), e aí calcular a média

In [240]:
nota1 = float(tabela_lida[idx_aluno][1])
nota2 = float(tabela_lida[idx_aluno][2])

nota1, nota2

(10.0, 8.5)

Com isso, podemos calcular a média!

Vamos agora fazer todas as operações acima, mas solicitando ao usuário a média de qual aluno ele deseja:

(Colocando tudo numa função)

In [233]:
import time

def calcula_media_aluno():
    
    lista_nomes = [linha[0] for linha in tabela_lida]
    
    print("Alunos cadastrados:\n")
    print(*lista_nomes[1:], sep="\n")

    time.sleep(0.5)

    aluno = input("\nDigite o nome do aluno: ")
    
    idx_aluno = lista_nomes.index(aluno)

    nota1 = float(tabela_lida[idx_aluno][1])
    nota2 = float(tabela_lida[idx_aluno][2])

    media = (nota1 + nota2)/2

    print(f"\nA média do(a) {aluno} é: {media}")

In [234]:
calcula_media_aluno()

Alunos cadastrados:

Alice
Bob
Eva

Digite o nome do aluno: Bob

A média do(a) Bob é: 8.25

__________

É possíver fazer o **processamento de arquivos** de forma muito mais simples e natural do que foi feito acima, ao utilizarmos uma biblioteca própria para isso: o [pandas](https://pandas.pydata.org/)! Vamos introduzi-la nas aulas seguintes!

Um pequeno spoiler...

In [241]:
import pandas as pd

In [242]:
df = pd.read_csv("./arquivos/notas_alunos.csv")

In [253]:
df[df["Aluno"] == "Eva"][["Nota1", "Nota2"]].mean(axis=1).values[0]

8.0

______

O que vc prefere? Assim...

In [284]:
with open("./arquivos/temperature.csv", "r", encoding="utf-8") as f:
    
    tabela_lida = [linha for linha in csv.reader(f, delimiter=",", lineterminator="\n")]

In [285]:
tabela_lida

[['record_id',
  'month',
  'day',
  'year',
  'AverageTemperatureFahr',
  'AverageTemperatureUncertaintyFahr',
  'City',
  'country_id',
  'Country',
  'Latitude',
  'Longitude'],
 ['3779550',
  '04',
  '01',
  '1854',
  '42.0674',
  '33.1142',
  'Kherson',
  'UKR',
  'Ukraine',
  '47.42N',
  '31.97E'],
 ['3779551',
  '05',
  '01',
  '1854',
  '62.654',
  '33.2888',
  'Kherson',
  'UKR',
  'Ukraine',
  '47.42N',
  '31.97E'],
 ['3779552',
  '06',
  '01',
  '1854',
  '65.8166',
  '35.096',
  'Kherson',
  'UKR',
  'Ukraine',
  '47.42N',
  '31.97E'],
 ['3779553',
  '07',
  '01',
  '1854',
  '72.8366',
  '34.0376',
  'Kherson',
  'UKR',
  'Ukraine',
  '47.42N',
  '31.97E'],
 ['3779554',
  '08',
  '01',
  '1854',
  '69.1466',
  '34.295',
  'Kherson',
  'UKR',
  'Ukraine',
  '47.42N',
  '31.97E'],
 ['3779555',
  '09',
  '01',
  '1854',
  '56.8382',
  '33.8468',
  'Kherson',
  'UKR',
  'Ukraine',
  '47.42N',
  '31.97E'],
 ['3779556',
  '10',
  '01',
  '1854',
  '50.9666',
  '34.439',
  'Kherson',
  'UKR',
  'Ukraine',
  '47.42N',
  '31.97E'],
 ['3779557',
  '11',
  '01',
  '1854',
  '39.0164',
  '34.8602',
  'Kherson',
  'UKR',
  'Ukraine',
  '47.42N',
  '31.97E'],
 ['3779558',
  '12',
  '01',
  '1854',
  '34.8422',
  '37.1372',
  'Kherson',
  'UKR',
  'Ukraine',
  '47.42N',
  '31.97E'],
 ['3779559',
  '01',
  '01',
  '1855',
  '21.2432',
  '35.8088',
  'Kherson',
  'UKR',
  'Ukraine',
  '47.42N',
  '31.97E'],
 ['3779560',
  '02',
  '01',
  '1855',
  '24.7982',
  '34.9682',
  'Kherson',
  'UKR',
  'Ukraine',
  '47.42N',
  '31.97E'],
 ['3779561',
  '03',
  '01',
  '1855',
  '38.8886',
  '33.6164',
  'Kherson',
  'UKR',
  'Ukraine',
  '47.42N',
  '31.97E'],
 ['3779562',
  '04',
  '01',
  '1855',
  '48.695',
  '34.8098',
  'Kherson',
  'UKR',
  'Ukraine',
  '47.42N',
  '31.97E'],
 ['474381',
  '06',
  '01',
  '1853',
  '51.9062',
  '36.9572',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474382',
  '07',
  '01',
  '1853',
  '52.3886',
  '34.5488',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474383',
  '08',
  '01',
  '1853',
  '52.853',
  '33.5498',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474384',
  '09',
  '01',
  '1853',
  '52.5776',
  '33.638',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474385',
  '10',
  '01',
  '1853',
  '54.8726',
  '33.9836',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474386',
  '11',
  '01',
  '1853',
  '56.6888',
  '34.2518',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474387',
  '12',
  '01',
  '1853',
  '59.846',
  '37.5062',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474388',
  '01',
  '01',
  '1854',
  '64.5908',
  '36.23',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474389',
  '02',
  '01',
  '1854',
  '65.372',
  '35.6576',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474390',
  '03',
  '01',
  '1854',
  '64.9688',
  '35.3966',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474391',
  '04',
  '01',
  '1854',
  '59.927',
  '35.2022',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474392',
  '05',
  '01',
  '1854',
  '57.5042',
  '34.511',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474393',
  '06',
  '01',
  '1854',
  '54.518',
  '34.7972',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474394',
  '07',
  '01',
  '1854',
  '53.1914',
  '35.024',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474395',
  '08',
  '01',
  '1854',
  '52.8044',
  '34.3544',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474396',
  '09',
  '01',
  '1854',
  '53.3912',
  '33.683',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474397',
  '10',
  '01',
  '1854',
  '54.7538',
  '37.4108',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474398',
  '11',
  '01',
  '1854',
  '57.317',
  '35.0024',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474399',
  '12',
  '01',
  '1854',
  '60.0296',
  '35.924',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474400',
  '01',
  '01',
  '1855',
  '63.3578',
  '36.0716',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474401',
  '02',
  '01',
  '1855',
  '64.346',
  '37.13',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474402',
  '03',
  '01',
  '1855',
  '63.6584',
  '34.3058',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474403',
  '04',
  '01',
  '1855',
  '61.5848',
  '34.7594',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474404',
  '05',
  '01',
  '1855',
  '58.0028',
  '34.1996',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474405',
  '06',
  '01',
  '1855',
  '54.842',
  '33.7568',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474406',
  '07',
  '01',
  '1855',
  '53.1554',
  '33.5048',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474407',
  '08',
  '01',
  '1855',
  '52.3094',
  '34.8422',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474408',
  '09',
  '01',
  '1855',
  '52.61',
  '34.1042',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474409',
  '10',
  '01',
  '1855',
  '57.407',
  '34.2302',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474410',
  '11',
  '01',
  '1855',
  '58.1558',
  '33.7622',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474411',
  '12',
  '01',
  '1855',
  '60.9206',
  '35.7026',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474412',
  '01',
  '01',
  '1856',
  '61.8422',
  '37.9166',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474413',
  '02',
  '01',
  '1856',
  '62.033',
  '37.8878',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474414',
  '03',
  '01',
  '1856',
  '62.1266',
  '35.9114',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['474415',
  '04',
  '01',
  '1856',
  '59.801',
  '36.2966',
  'Auckland',
  'NEW',
  'New Zealand',
  '36.17S',
  '175.03E'],
 ['3817589',
  '09',
  '01',
  '1770',
  '57.2828',
  '36.9176',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817590',
  '10',
  '01',
  '1770',
  '47.111',
  '39.6788',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817591',
  '11',
  '01',
  '1770',
  '35.2544',
  '39.7058',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817592',
  '12',
  '01',
  '1770',
  '31.2152',
  '45.059',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817593',
  '01',
  '01',
  '1771',
  '24.1862',
  '41.603',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817594',
  '02',
  '01',
  '1771',
  '13.4978',
  '38.498',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817595',
  '03',
  '01',
  '1771',
  '23.7686',
  '42.8378',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817596',
  '04',
  '01',
  '1771',
  '40.262',
  '42.233',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817597',
  '05',
  '01',
  '1771',
  '56.7842',
  '46.5656',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817598',
  '06',
  '01',
  '1771',
  '67.2998',
  '36.563',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817599',
  '07',
  '01',
  '1771',
  '67.0532',
  '35.1032',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817600',
  '08',
  '01',
  '1771',
  '65.4584',
  '36.1976',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817601',
  '09',
  '01',
  '1771',
  '57.3836',
  '35.3912',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817602',
  '10',
  '01',
  '1771',
  '46.571',
  '35.7674',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817603',
  '11',
  '01',
  '1771',
  '30.2612',
  '39.4826',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817604',
  '12',
  '01',
  '1771',
  '26.0348',
  '38.48',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817605',
  '01',
  '01',
  '1772',
  '20.0858',
  '41.4662',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817606',
  '02',
  '01',
  '1772',
  '18.167',
  '45.1274',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817607',
  '03',
  '01',
  '1772',
  '28.265',
  '39.6518',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817608',
  '04',
  '01',
  '1772',
  '46.5566',
  '39.0254',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817609',
  '05',
  '01',
  '1772',
  '54.6566',
  '35.5388',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817610',
  '06',
  '01',
  '1772',
  '64.1786',
  '38.2946',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['3817611',
  '07',
  '01',
  '1772',
  '68.792',
  '36.7628',
  'Kiev',
  'UKR',
  'Ukraine',
  '50.63N',
  '31.69E'],
 ['4433730',
  '06',
  '01',
  '1906',
  '61.8764',
  '32.729',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433731',
  '07',
  '01',
  '1906',
  '65.3324',
  '32.5742',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433732',
  '08',
  '01',
  '1906',
  '61.2536',
  '32.4104',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433733',
  '09',
  '01',
  '1906',
  '53.3516',
  '32.5886',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433734',
  '10',
  '01',
  '1906',
  '44.0546',
  '32.5274',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433735',
  '11',
  '01',
  '1906',
  '41.2808',
  '32.8352',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433736',
  '12',
  '01',
  '1906',
  '23.7902',
  '33.8882',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433737',
  '01',
  '01',
  '1907',
  '20.0282',
  '32.7488',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433738',
  '02',
  '01',
  '1907',
  '20.5358',
  '32.8136',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433739',
  '03',
  '01',
  '1907',
  '28.769',
  '32.7794',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433740',
  '04',
  '01',
  '1907',
  '40.4348',
  '33.8342',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433741',
  '05',
  '01',
  '1907',
  '59.6822',
  '33.179',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433742',
  '06',
  '01',
  '1907',
  '60.8882',
  '33.0476',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433743',
  '07',
  '01',
  '1907',
  '62.3534',
  '32.3996',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433744',
  '08',
  '01',
  '1907',
  '61.2194',
  '32.3744',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433745',
  '09',
  '01',
  '1907',
  '54.7286',
  '33.008',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433746',
  '10',
  '01',
  '1907',
  '52.8944',
  '32.6642',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433747',
  '11',
  '01',
  '1907',
  '32.1944',
  '32.6984',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433748',
  '12',
  '01',
  '1907',
  '25.7162',
  '32.7614',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433749',
  '01',
  '01',
  '1908',
  '24.4274',
  '33.2888',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433750',
  '02',
  '01',
  '1908',
  '28.6304',
  '33.1232',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4433751',
  '03',
  '01',
  '1908',
  '33.7604',
  '33.476',
  'Lvov',
  'UKR',
  'Ukraine',
  '50.63N',
  '24.08E'],
 ['4672984',
  '01',
  '01',
  '1999',
  '52.205',
  '32.5724',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4672985',
  '02',
  '01',
  '1999',
  '49.703',
  '32.8244',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4672986',
  '03',
  '01',
  '1999',
  '54.2318',
  '32.4392',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4672987',
  '04',
  '01',
  '1999',
  '55.9868',
  '32.558',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4672988',
  '05',
  '01',
  '1999',
  '64.3064',
  '32.6048',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4672989',
  '06',
  '01',
  '1999',
  '68.7668',
  '32.4734',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4672990',
  '07',
  '01',
  '1999',
  '74.0264',
  '32.4428',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4672991',
  '08',
  '01',
  '1999',
  '75.6356',
  '32.5364',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4672992',
  '09',
  '01',
  '1999',
  '71.9942',
  '32.45',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4672993',
  '10',
  '01',
  '1999',
  '64.8374',
  '32.2844',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4672994',
  '11',
  '01',
  '1999',
  '55.0418',
  '32.387',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4672995',
  '12',
  '01',
  '1999',
  '51.4832',
  '32.4986',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4672996',
  '01',
  '01',
  '2000',
  '49.6616',
  '32.6282',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4672997',
  '02',
  '01',
  '2000',
  '52.889',
  '32.4734',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4672998',
  '03',
  '01',
  '2000',
  '53.582',
  '32.5454',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4672999',
  '04',
  '01',
  '2000',
  '56.1524',
  '32.4626',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673000',
  '05',
  '01',
  '2000',
  '65.1884',
  '32.5526',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673001',
  '06',
  '01',
  '2000',
  '69.6146',
  '32.5454',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673002',
  '07',
  '01',
  '2000',
  '70.8926',
  '32.3366',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673003',
  '08',
  '01',
  '2000',
  '74.6474',
  '32.5976',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673004',
  '09',
  '01',
  '2000',
  '70.16',
  '32.3654',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673005',
  '10',
  '01',
  '2000',
  '63.8474',
  '32.3888',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673006',
  '11',
  '01',
  '2000',
  '57.4718',
  '32.2808',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673007',
  '12',
  '01',
  '2000',
  '56.2514',
  '32.3744',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673008',
  '01',
  '01',
  '2001',
  '53.357',
  '32.5526',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673009',
  '02',
  '01',
  '2001',
  '51.9314',
  '32.495',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673010',
  '03',
  '01',
  '2001',
  '57.4574',
  '32.4824',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673011',
  '04',
  '01',
  '2001',
  '55.9652',
  '32.3978',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673012',
  '05',
  '01',
  '2001',
  '63.7142',
  '32.3726',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673013',
  '06',
  '01',
  '2001',
  '68.9522',
  '32.5634',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673014',
  '07',
  '01',
  '2001',
  '73.247',
  '32.3762',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673015',
  '08',
  '01',
  '2001',
  '75.839',
  '32.5022',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673016',
  '09',
  '01',
  '2001',
  '67.3016',
  '32.5922',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673017',
  '10',
  '01',
  '2001',
  '67.7354',
  '32.2898',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673018',
  '11',
  '01',
  '2001',
  '56.9516',
  '32.5364',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673019',
  '12',
  '01',
  '2001',
  '49.8074',
  '32.4176',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673020',
  '01',
  '01',
  '2002',
  '50.2088',
  '32.5868',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['4673021',
  '02',
  '01',
  '2002',
  '53.4416',
  '32.5526',
  'Marseille',
  'FRA',
  'France',
  '42.59N',
  '6.55E'],
 ['5415607',
  '05',
  '01',
  '1992',
  '55.6556',
  '32.6066',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415608',
  '06',
  '01',
  '1992',
  '64.6682',
  '32.6768',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415609',
  '07',
  '01',
  '1992',
  '69.3896',
  '32.3528',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415610',
  '08',
  '01',
  '1992',
  '75.5906',
  '32.6588',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415611',
  '09',
  '01',
  '1992',
  '61.5002',
  '32.3672',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415612',
  '10',
  '01',
  '1992',
  '54.968',
  '32.2664',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415613',
  '11',
  '01',
  '1992',
  '46.6988',
  '32.4986',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415614',
  '12',
  '01',
  '1992',
  '35.1968',
  '32.7056',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415615',
  '01',
  '01',
  '1993',
  '35.8952',
  '32.5184',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415616',
  '02',
  '01',
  '1993',
  '32.8658',
  '32.5094',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415617',
  '03',
  '01',
  '1993',
  '37.0292',
  '32.6966',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415618',
  '04',
  '01',
  '1993',
  '46.4666',
  '32.2898',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415619',
  '05',
  '01',
  '1993',
  '58.0208',
  '32.531',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415620',
  '06',
  '01',
  '1993',
  '64.085',
  '32.405',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415621',
  '07',
  '01',
  '1993',
  '67.199',
  '32.6606',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415622',
  '08',
  '01',
  '1993',
  '69.8432',
  '32.6696',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415623',
  '09',
  '01',
  '1993',
  '61.1258',
  '32.2754',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415624',
  '10',
  '01',
  '1993',
  '55.3388',
  '32.5886',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415625',
  '11',
  '01',
  '1993',
  '34.8296',
  '32.6714',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415626',
  '12',
  '01',
  '1993',
  '42.089',
  '32.3438',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415627',
  '01',
  '01',
  '1994',
  '40.8704',
  '32.657',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415628',
  '02',
  '01',
  '1994',
  '31.9604',
  '32.8352',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415629',
  '03',
  '01',
  '1994',
  '40.4924',
  '32.3762',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415630',
  '04',
  '01',
  '1994',
  '52.1204',
  '32.4446',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415631',
  '05',
  '01',
  '1994',
  '58.3646',
  '32.6948',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415632',
  '06',
  '01',
  '1994',
  '63.5756',
  '32.6012',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415633',
  '07',
  '01',
  '1994',
  '72.815',
  '32.6678',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415634',
  '08',
  '01',
  '1994',
  '71.8718',
  '32.4158',
  'Odesa',
  'UKR',
  'Ukraine',
  '45.81N',
  '31.15E'],
 ['5415635',
  '09',

In [264]:
with open("./arquivos/temperature.csv", "r", encoding="utf-8") as f:
    
    primeira_linha = f.readline()
    
primeira_linha

'record_id,month,day,year,AverageTemperatureFahr,AverageTemperatureUncertaintyFahr,City,country_id,Country,Latitude,Longitude\n'

In [265]:
df = pd.read_csv("./arquivos/temperature.csv", sep=",")

In [266]:
df

,record_id,month,day,year,AverageTemperatureFahr,AverageTemperatureUncertaintyFahr,City,country_id,Country,Latitude,Longitude
0,3779550,4,1,1854,42.0674,33.1142,Kherson,UKR,Ukraine,47.42N,31.97E
1,3779551,5,1,1854,62.6540,33.2888,Kherson,UKR,Ukraine,47.42N,31.97E
2,3779552,6,1,1854,65.8166,35.0960,Kherson,UKR,Ukraine,47.42N,31.97E
3,3779553,7,1,1854,72.8366,34.0376,Kherson,UKR,Ukraine,47.42N,31.97E
4,3779554,8,1,1854,69.1466,34.2950,Kherson,UKR,Ukraine,47.42N,31.97E
...,...,...,...,...,...,...,...,...,...,...,...
204,7178168,8,1,1807,66.3008,37.0472,Stockholm,SWE,Sweden,58.66N,18.46E
205,7178169,9,1,1807,51.3932,34.3868,Stockholm,SWE,Sweden,58.66N,18.46E
206,7178170,10,1,1807,43.7504,35.3138,Stockholm,SWE,Sweden,58.66N,18.46E
207,7178171,11,1,1807,39.4178,37.8986,Stockholm,SWE,Sweden,58.66N,18.46E
208,7178172,12,1,1807,35.5406,36.7340,Stockholm,SWE,Sweden,58.66N,18.46E

In [267]:
df.describe()

,record_id,month,day,year,AverageTemperatureFahr,AverageTemperatureUncertaintyFahr
count,2.090000e+02,209.000000,209.0,209.000000,209.000000,209.000000
mean,4.313127e+06,6.488038,1.0,1887.090909,50.799751,34.803194
std,1.983425e+06,3.572208,0.0,91.403619,14.068438,2.968804
min,4.743810e+05,1.000000,1.0,1744.000000,13.497800,32.266400
25%,3.817593e+06,3.000000,1.0,1806.000000,40.434800,32.563400
50%,4.672995e+06,6.000000,1.0,1855.000000,53.351600,33.834200
75%,5.415632e+06,10.000000,1.0,1994.000000,61.584800,35.924000
max,7.178172e+06,12.000000,1.0,2002.000000,75.839000,46.565600

In [269]:
df.columns.tolist()

['record_id',
 'month',
 'day',
 'year',
 'AverageTemperatureFahr',
 'AverageTemperatureUncertaintyFahr',
 'City',
 'country_id',
 'Country',
 'Latitude',
 'Longitude']

In [271]:
df['City'].value_counts()

Marseille    38
Odesa        36
Auckland     35
Stockholm    26
Kiev         23
Lvov         22
Paris        16
Kherson      13
Name: City, dtype: int64

In [272]:
df['City'].unique()

array(['Kherson', 'Auckland', 'Kiev', 'Lvov', 'Marseille', 'Odesa',
       'Paris', 'Stockholm'], dtype=object)

In [273]:
cidade = 'Kiev'

df[df["City"] == cidade]

,record_id,month,day,year,AverageTemperatureFahr,AverageTemperatureUncertaintyFahr,City,country_id,Country,Latitude,Longitude
48,3817589,9,1,1770,57.2828,36.9176,Kiev,UKR,Ukraine,50.63N,31.69E
49,3817590,10,1,1770,47.1110,39.6788,Kiev,UKR,Ukraine,50.63N,31.69E
50,3817591,11,1,1770,35.2544,39.7058,Kiev,UKR,Ukraine,50.63N,31.69E
51,3817592,12,1,1770,31.2152,45.0590,Kiev,UKR,Ukraine,50.63N,31.69E
52,3817593,1,1,1771,24.1862,41.6030,Kiev,UKR,Ukraine,50.63N,31.69E
53,3817594,2,1,1771,13.4978,38.4980,Kiev,UKR,Ukraine,50.63N,31.69E
54,3817595,3,1,1771,23.7686,42.8378,Kiev,UKR,Ukraine,50.63N,31.69E
55,3817596,4,1,1771,40.2620,42.2330,Kiev,UKR,Ukraine,50.63N,31.69E
56,3817597,5,1,1771,56.7842,46.5656,Kiev,UKR,Ukraine,50.63N,31.69E
57,3817598,6,1,1771,67.2998,36.5630,Kiev,UKR,Ukraine,50.63N,31.69E
58,3817599,7,1,1771,67.0532,35.1032,Kiev,UKR,Ukraine,50.63N,31.69E
59,3817600,8,1,1771,65.4584,36.1976,Kiev,UKR,Ukraine,50.63N,31.69E
60,3817601,9,1,1771,57.3836,35.3912,Kiev,UKR,Ukraine,50.63N,31.69E
61,3817602,10,1,1771,46.5710,35.7674,Kiev,UKR,Ukraine,50.63N,31.69E
62,3817603,11,1,1771,30.2612,39.4826,Kiev,UKR,Ukraine,50.63N,31.69E
63,3817604,12,1,1771,26.0348,38.4800,Kiev,UKR,Ukraine,50.63N,31.69E
64,3817605,1,1,1772,20.0858,41.4662,Kiev,UKR,Ukraine,50.63N,31.69E
65,3817606,2,1,1772,18.1670,45.1274,Kiev,UKR,Ukraine,50.63N,31.69E
66,3817607,3,1,1772,28.2650,39.6518,Kiev,UKR,Ukraine,50.63N,31.69E
67,3817608,4,1,1772,46.5566,39.0254,Kiev,UKR,Ukraine,50.63N,31.69E
68,3817609,5,1,1772,54.6566,35.5388,Kiev,UKR,Ukraine,50.63N,31.69E
69,3817610,6,1,1772,64.1786,38.2946,Kiev,UKR,Ukraine,50.63N,31.69E
70,3817611,7,1,1772,68.7920,36.7628,Kiev,UKR,Ukraine,50.63N,31.69E

In [279]:
import numpy as np

In [282]:
df.groupby(["Country", "year"])[["AverageTemperatureFahr"]].agg(["min", "mean", "max"])

                 AverageTemperatureFahr
                                    min       mean      max
Country     year
France      1744                38.5196  47.860700  57.8750
            1745                35.5190  40.512200  48.6194
            1752                40.9280  45.611600  50.4338
            1753                31.9046  44.467160  56.5736
            1999                49.7030  61.518200  75.6356
            2000                49.6616  61.696550  74.6474
            2001                49.8074  61.854950  75.8390
            2002                50.2088  51.825200  53.4416
New Zealand 1853                51.9062  54.447543  59.8460
            1854                52.8044  58.197350  65.3720
            1855                52.3094  58.362500  64.3460
            1856                59.8010  61.450700  62.1266
Sweden      1805                32.7470  34.391300  36.0356
            1806                27.2984  43.103900  62.3408
            1807                28.3712  43.179050  66.3008
Ukraine     1770                31.2152  42.715850  57.2828
            1771                13.4978  43.213400  67.2998
            1772                18.1670  42.957371  68.7920
            1854                34.8422  54.909400  72.8366
            1855                21.2432  33.406250  48.6950
            1906                23.7902  50.134229  65.3324
            1907                20.0282  43.287050  62.3534
            1908                24.4274  28.939400  33.7604
            1992                35.1968  57.958475  75.5906
            1993                32.8658  50.399000  69.8432
            1994                31.9604  53.381000  72.8150
            1995                34.3958  41.500400  48.3116

In [281]:
df.groupby(["Country", "year"])[["AverageTemperatureFahr"]].agg([np.min, np.mean, np.max])

                 AverageTemperatureFahr
                                   amin       mean     amax
Country     year
France      1744                38.5196  47.860700  57.8750
            1745                35.5190  40.512200  48.6194
            1752                40.9280  45.611600  50.4338
            1753                31.9046  44.467160  56.5736
            1999                49.7030  61.518200  75.6356
            2000                49.6616  61.696550  74.6474
            2001                49.8074  61.854950  75.8390
            2002                50.2088  51.825200  53.4416
New Zealand 1853                51.9062  54.447543  59.8460
            1854                52.8044  58.197350  65.3720
            1855                52.3094  58.362500  64.3460
            1856                59.8010  61.450700  62.1266
Sweden      1805                32.7470  34.391300  36.0356
            1806                27.2984  43.103900  62.3408
            1807                28.3712  43.179050  66.3008
Ukraine     1770                31.2152  42.715850  57.2828
            1771                13.4978  43.213400  67.2998
            1772                18.1670  42.957371  68.7920
            1854                34.8422  54.909400  72.8366
            1855                21.2432  33.406250  48.6950
            1906                23.7902  50.134229  65.3324
            1907                20.0282  43.287050  62.3534
            1908                24.4274  28.939400  33.7604
            1992                35.1968  57.958475  75.5906
            1993                32.8658  50.399000  69.8432
            1994                31.9604  53.381000  72.8150
            1995                34.3958  41.500400  48.3116

____
____
____
____